{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-react-jsx",
    "transform-remove-console",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}